.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
  .masthead-heading {
    font-size: 3rem;
    line-height: 3rem;
  }
  .masthead-subheading {
    font-size: 1.3rem;
    @include body-font;
  }
  .masthead-avatar {
    width: 15rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
      letter-spacing: 0.025em;
    }
    .masthead-subheading {
      font-size: 1.5rem;
    }

  }
}
