include modal_mixin.pug

// Portfolio Modal 4

- var portfolioModalTitle = 'Controller';
- var imgSrc = 'assets/img/portfolio/game.png';
- var portfolioModalTextArray = ['Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.'];

+portfolioModal(
    4,
    portfolioModalTitle,
    imgSrc,
    portfolioModalTextArray
)
