include modal_mixin.pug

// Portfolio Modal 6

- var portfolioModalTitle = 'Submarine';
- var imgSrc = 'assets/img/portfolio/submarine.png';
- var portfolioModalTextArray = ['Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.'];

+portfolioModal(
    6,
    portfolioModalTitle,
    imgSrc,
    portfolioModalTextArray
)

