include modal_mixin.pug

// Portfolio Modal 2

- var portfolioModalTitle = 'Tasty Cake';
- var imgSrc = 'assets/img/portfolio/cake.png';
- var portfolioModalTextArray = ['Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.']

+portfolioModal(
    2,
    portfolioModalTitle,
    imgSrc,
    portfolioModalTextArray
)