include modal_mixin.pug

// Portfolio Modal 3

- var portfolioModalTitle = 'Circus Tent';
- var imgSrc = 'assets/img/portfolio/circus.png';
- var portfolioModalTextArray = ['Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.'];

+portfolioModal(
    3,
    portfolioModalTitle,
    imgSrc,
    portfolioModalTextArray
)
