include modal_mixin.pug

// Portfolio Modal 1

- var portfolioModalTitle = 'Log Cabin';
- var imgSrc = 'assets/img/portfolio/cabin.png';

// example for utilization array and "each val in array[]" syntax,
//  for achieving multiline output.
-
  var portfolioModalTextArray = [
    "Lorem ipsum dolor sit amet, consectetur adipisicing elit.",
    "Mollitia neque assumenda ipsam nihil, molestias magnam,",
    "recusandae quos quis inventore quisquam velit asperiores, vitae?",
    "Reprehenderit soluta, eos quod consequuntur itaque. Nam."
  ]

+portfolioModal(
    1,
    portfolioModalTitle,
    imgSrc,
    portfolioModalTextArray
)
