language: node_js
node_js:
  - "node"
install: 
  - npm install
script:
  - npm test
  - gulp
cache:
  directories:
    - node_modules
notifications:
  email:       false
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  on:
    branch: master