// Portfolio Item 5

- var imgSrc = 'assets/img/portfolio/safe.png';

.col-md-6.col-lg-4.mb-5.mb-md-0
    .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal5')
        .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
        img.img-fluid(src=imgSrc, alt='')
