/*
 * Troop 706 Style Sheet Customization
 */

.navbar {
  background:#003F87; /*--Scouting Blue */
}


.header-content {
	  
	  position: relative;

    min-height: auto;

    text-align: center;

    color: #003F87; /* --Scouting Blue */

    width: 100%;
    
    height: 100%;

    background-color: #c9c9c9;

		/*up two directory levels and down to images directory*/
    background-image: url('../../images/PhilmontBaldy.jpg');

    background-position: center;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    background-size: cover;

    -o-background-size: cover;
}

/*customize the main landing page*/
.description {
	color: white;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}


/*customize button on the main landing page*/
.description button {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    }
.description button:hover {
      border:1px solid #fff;
      background:#fff;
      color:#000;
}

.button-color {
	background-color:#8c8c8c;
}


.page-footer {
      background-color: #222;
      color: #ccc;
      padding: 60px 0 30px;
}
.footer-copyright {
      color: #666;
      padding: 40px 0;
}

/*used in medical forms section of website*/
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/*make a div tag center*/
.col-centered{
    float: none;
    margin: 0 auto;
}


/*move baldy mountain image - fade into background*/
/* requires <div class="overlay"></div>  if used*/
.overlay {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.6);
    }