<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">@Title</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">@LeftColumnText</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">@RightColumnText</p>
            </div>
        </div>

        <!-- About Section Button -->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="@Button?.Url">
                <i class="@($"fas {Button?.FaCodename} mr-2")"></i>
                @Button?.Text
            </a>
        </div>

    </div>
</section>

@code {

[Parameter] public string Title { get; set; }
[Parameter] public string LeftColumnText { get; set; }
[Parameter] public string RightColumnText { get; set; }
[Parameter] public FontAwesomeLink Button { get; set; }
}
