<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>@CopyrightNote</small>
    </div>
</section>

@code {

[Parameter] public string CopyrightNote { get; set; }
}
