<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">
            @if (PortfolioItems == null)
            {
                <p><em>Loading ...</em></p>
            }
            else
            {
                @foreach (PortfolioItem item in PortfolioItems)
                {
                    <!-- Portfolio Item -->
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="@("#portfolioModal" + @item.System.Codename)">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="@item.Image.FirstOrDefault().Url" alt="@item.Image.FirstOrDefault().Description">
                        </div>
                    </div>
                }
            }
        </div>
        <!-- /.row -->

    </div>
</section>

@code {

    [Parameter] public IEnumerable<PortfolioItem> PortfolioItems { get; set; }
}
