// 
// Forms
// 

// Override variables for the Bootstrap floating forms component

$form-floating-height: 5.5rem;
$form-floating-padding-x: 0;
$form-floating-padding-y: 1.5rem;
$form-floating-input-padding-t: 2.5rem;
$form-floating-input-padding-b: 1.5rem;
$form-floating-label-transform: scale(.65) translateY(-.5rem) translateX(0rem);

$input-btn-border-width: $border-width;
